# Backend
__pycache__/backend/
backend/*.pyc
backend/instance/
backend/.env*
backend/sahatak.db
backend/static/uploads/audio/*
backend/logs/
backend/static/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env*

# IDE
.vscode/
.claude/
.idea/
*.swp
*.swo
*.vsix
*.pyc
*__pycache__/*
*.env

# OS
.DS_Store
Thumbs.db
